
@font-face {
    font-family: 'pixel_times';
    src: url('./fonts/18963-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;

}
.body{
    font-family: 'pixel_times';
    font-size: 20px;
} 