@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=cyrillic');
@font-face {
    font-family: 'pixel_times';
    src: url('18963-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;

}